
.generateQuestionContainer {
	width: 50%;
	margin: 20vh auto;
    background: #FFF;
    box-shadow: 0 0 5em 0.25em #CCC;
	padding: 2em 3em 3em 3em;
	
	span {
		h3 {
			margin-bottom: 0.25em;
		}
		select {
			width: 100%;
			padding: .5em;
			height: 3em;
			background: #FFF;
			font-size: 1.1em;
		}
	}
	.generateQuestionBtn {
		border: 1px solid #000;
		color: #000;
		display: inline-block;
		margin-top: 2em;
		padding: 1em;
		text-decoration: none;
		transition: all .25s linear;

		&:hover {
			background: #000;
			border-color: #FFF;
			color: #FFF;
		}
	}
}

